*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #252525;
    color: #fff;
}
/* CORES DE FUNDO */
.bg-cor-1{
    background-color: #252525;
}
.bg-cor-2{
    background-color: #c09578;
}
/* CORES PARA TEXTO */
.cor-1{
    color: #c09578;
}
.cor-2{
    color:#626262;
}
.cor-clara{
    color:#fcf5eb;
}
.cor-clara{
    color:#746b39;
}
.cor-escura{
    color:#101010;
    font-weight:700;
    
}
/* Estilos para o link da marca (navbar-brand)*/
.navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.navbar-brand:hover{
    color:#e2d9d9;
}

@media(min-width: 768px){
    .navbar-brand{
        text-align: left;
    }
}

/* Ajuste dos ícones da navbar */
#navbar-itens{
    justify-content: space-between;
}

@media(min-width:768px){
    #navbar-itens{
        min-width:80%;
        display: flex;
    }
}

#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;
}

#navbar .navbar-nav li{
    margin-left: 1em;
}

#navbar i{
    font-size: 1.2rem;
}

/* Ajuste da largura do form de pesquisa */
#form-pesquisa{
    width: 100%;
    margin: 2em 0;
}

@media(min-width:768px){
    #form-pesquisa{
    width: 50%;
    margin: 2em 0;
}
}

/* Estilizando o form de pesquisa */
#form-pesquisa{
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
    color:#ffff;
}

#form-pesquisa input{
    background-color: transparent;
    border: none;
    color: #ffff;
}

#form-pesquisa input:focus{
    box-shadow: none;
}

#form-pesquisa input::placeholder{
    color:#f3eeee;
}

/* estilizando o texto dos links da navbar inferior */
#container-navbar-inferior .container{
    justify-content: flex-end;
}

#container-navbar-inferior a{
    font-weight: 600;
    color:#fff;
}

.navbar-toggler{
    font-size: 1.5em;
}
